@{
    ViewData["Title"] = "Remove Cliente";
}

<h1>APAGAR CLIENTE</h1>
<div>
    <p>Deseja apagar o(a) cliente FULANO?</p>
    <a role="button" class="btn btn-danger">Apagar</a>
    <a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-success">Cancelar</a>
</div>